<!-- <app-view-all-flights></app-view-all-flights> -->
 <!-- <app-schedule-flight></app-schedule-flight> -->
<div >
    <a routerLink="AdminModule"  > <h1>Admin</h1> </a>
</div>
<app-admin-module></app-admin-module> 
<!-- <app-dummy></app-dummy> -->
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="Admin">Navbar</a> -->

  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/AdminModule" routerLinkActive="active">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/AddFlight" routerLinkActive="active">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="UpdateFlight" routerLinkActive="active">Our Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us </a>
      </li>
    </ul>
  </div> -->
  
<!-- </nav>


<router-outlet></router-outlet> -->

<
<!-- <div>
    <router-outlet></router-outlet>
  </div> -->
<!-- <app-schedule-flight></app-schedule-flight> -->
<!-- <app-view-all-flights></app-view-all-flights> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav> -->